
@{
    ViewData["Title"] = "Search";
}

<h1>Search Assets</h1>

<select id="uxAssetTypes" asp-items="ViewBag.AssetTypes"></select>
<div id="uxDisplay">
    @await Component.InvokeAsync("AssetsByType", 0)
</div>

    @section Scripts{
        <script>
            $(document).ready(function () {

                $("#uxAssetTypes").change(function () {
                    var propertyTypeId = $("#uxAssetTypes").val();
                    
                    $.ajax({
                        method: 'GET',
                        url: '/Assets/GetAssetsByType',
                        data: { id: propertyTypeId }
                    }).done(function (result, statusText, xhdr) {
                        $("#uxDisplay").html(result);
                    });
                });
            });
        </script>
    }

