@model IEnumerable<Assgn2.AssetTracking.Presentation.Models.AssetTypeViewModel>

@{
    ViewData["Title"] = "Index";
}

<br />
<h3>List of Asset Types</h3>
<br />
<table class="table">
    <thead class="bg-dark text-white">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
        </tr>
}
    </tbody>
</table>
<br />
@*<p>
    <a asp-action="Create">Add New Asset Type</a>
</p>*@

<a href="~/AssetType/Create" class="btn btn-info btn-lg active" role="button" aria-pressed="true">Add new asset type</a>